h1, p {
	font-family: "Open Sans", "Verdana", "sans-serif";
	text-align: center;
}

h2 {
	font-family: "Open Sans", "Verdana", "sans-serif";
	display: flex;
	justify-content: center;
}

.colorRed {
    color: red;
}

.colorGreen {
    color: green;
}

canvas {
	box-shadow: 8px 8px 12px #aaa;
	background-color: #ecf0f1;
}